/* ================= RESET / BASE ================= */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  color: #0f172a;
  background-color: #f8fafc;
}

/* ================= NAVBAR ================= */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  background: white;
  border-bottom: 1px solid #e2e8f0;

  z-index: 1000;
}

.nav-container {
  max-width: 1100px;
  margin: auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  margin-left: 1rem;
  text-decoration: none;
  color: #0f172a;
}

/* ================= LANDING PAGE ================= */

.LP {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.LP-container {
  max-width: 1400px;
  width: 100%;
  margin: auto;

  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2rem;
  align-items: center;
  line-height: 1.1;
  
}

.LP-text h1 {
  font-size: 6rem;
  padding-bottom: 0%;
  font-family: ui-serf, Georgia, Cambria, "Times New Roman", Times, serif;
}

.LP-text h2 {
  font-size: 4rem;
  color: #2563eb;
}

.LP-buttons {
  display: flex;
  gap: 1rem;
}

.profile-photo {
  width: 500px;
  height: 500px;

  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #2563eb;
}

.LP-visual {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ================= BUTTONS ================= */

.btn {
  padding: 1rem 1.25rem;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 18px;
  font-size: 1.5rem;
}

.primary {
  border: 1px solid #2563eb;
  color: #2563eb;
}

.secondary {
  border: 1px solid #2563eb;
  color: #2563eb;
}

/* ================= SECTIONS ================= */

.section {
  max-width: 1100px;
  margin: auto;
  padding: 4rem 2rem;
}

.section h2 {
  margin-bottom: 1.5rem;
}

/* ================= SKILLS ================= */

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

/* ================= PROJECTS ================= */

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.project-card {
  background: white;
  padding: 1.5rem;
  border: 1px solid #e2e8f0;
}

/* ================= CONTACT ================= */

.contact-list {
  list-style: none;
}

/* ================= FOOTER ================= */

.footer {
  text-align: center;
  padding: 2rem;
  border-top: 1px solid #e2e8f0;
}
